#everything_png {
	text-align:center;
	margin-top: 9%;
}

#text_large {
	text-align:center;
	color:white;
	font: 55px "Myriad Pro";
}

#text_small {
	text-align:center;
	color:white;
	font: 27px "Myriad Pro";
}

.body {
	background-color:black;
}

#main {
	position:relative;
	margin-top: 9%;
}