#everything_png {
	text-align:center;
	margin-top: 9%;
}

#title {
	text-align:left;
	color:white;
	font: 55px "Myriad Pro";
	margin-top: 5%;
}



#when_prereqs {
	text-align:left;
	top:142px;
	left: 5%;
	/*background-color: #000000;*/
	
	color:white;
	font: 19px "Myriad Pro";
	position: fixed;
	padding-top:0px;
}

#description {
	margin-top: 5%;
	text-align:left;
	color:white;
	font: 19px "Myriad Pro";
}

#headers {
	margin-top: 5%;
	text-align:left;
	color:white;
	font: 23px "Myriad Pro";
	padding:0px;
	margin:0px;
}

.body {
	background-color:black;
}

#main {
	position:relative;
	margin-top: 15%;
}

#bottom_padding {
	padding-bottom:60px;
}

a.link:link {
	color:#787878;
	text-decoration: none;
}
a.link:visited {
	color:#787878 ;
	text-decoration: none;
}
a.link:hover {
	color:#B0B0B0;
	}
a.link:active {
	color:#404040;
	}
	