<div class="container_12">
	<div class="grid_12" id="main">
	
		<br />
		<div class="grid_12" id="text_large">
			Cis 195
		</div>
		<div class="grid_12" id="text_small">
			This changes everything. Again.
		</div>
		<br /><br />
	
		<div class="site">
			<style type="text/css">
	    * {
	        margin: 0px;
	        padding: 0px;
	    }
	    #parallax_illustration {
	        display:block;
	        width: 940px;
	        height: 375px;
	        margin: 20px 0 0 20px;
	        position: relative;
	        overflow: hidden;
	    }
	    #parallax_illustration #parallax_error_text {
	        position: absolute;
	        top: 72px;
	        left: 72px;
	        z-index: 10;
	    }
	    #parallax_illustration #parallax_octocat {
	        position: absolute;
	        top: 94px;
	        left: 356px;
	        z-index: 9;
	    }
	    #parallax_illustration #parallax_speeder {
	        position: absolute;
	        top: 150px;
	        left: 432px;
	        z-index: 8;
	    }
	    #parallax_illustration #parallax_octocatshadow {
	        position: absolute;
	        top: 297px;
	        left: 371px;
	        z-index: 7;
	    }
	    #parallax_illustration #parallax_speedershadow {
	        position: absolute;
	        top: 263px;
	        left: 442px;
	        z-index: 6;
	    }
	    #parallax_illustration #parallax_building_1 {
	        position: absolute;
	        top: 73px;
	        left: 467px;
	        z-index: 5;
	    }
	    #parallax_illustration #parallax_building_2 {
	        position: absolute;
	        top: 113px;
	        left: 762px;
	        z-index: 4;
	    }
	    #parallax_illustration #parallax_bg {
	        position: absolute;
	        top: -20px;
	        left: -20px;
	        z-index: 1;
	    }
			</style>
			<div id="parallax_illustration">
				<img alt="404 | &ldquo;This is not the web page you are looking for&rdquo;" height="249" id="parallax_error_text" src="images/not_the_course.png" width="271"/>
				<img alt="Octobi Wan Catnobi" height="230" id="parallax_octocat" src="https://a248.e.akamai.net/assets.github.com/images/modules/404/parallax_octocat.png" width="188"/>
				<img alt="land speeder" height="156" id="parallax_speeder" src="https://a248.e.akamai.net/assets.github.com/images/modules/404/parallax_speeder.png" width="440"/>
				<img alt="Octobi Wan Catnobi's shadow" height="49" id="parallax_octocatshadow" src="https://a248.e.akamai.net/assets.github.com/images/modules/404/parallax_octocatshadow.png" width="166"/>
				<img alt="land speeder's shadow" height="75" id="parallax_speedershadow" src="https://a248.e.akamai.net/assets.github.com/images/modules/404/parallax_speedershadow.png" width="430"/>
				<img alt="building" height="123" id="parallax_building_1" src="https://a248.e.akamai.net/assets.github.com/images/modules/404/parallax_building_1.png" width="304"/>
				<img alt="building" height="50" id="parallax_building_2" src="https://a248.e.akamai.net/assets.github.com/images/modules/404/parallax_building_2.png" width="116"/>
				<!-- <img alt="building" height="415" id="parallax_bg" src="https://a248.e.akamai.net/assets.github.com/images/modules/404/parallax_bg.jpg" width="940"/> -->
			</div>
			<script type="text/javascript"> 
	  $(document).ready(function () {
	    $('#parallax_error_text').plaxify({"xRange":20,"yRange":10})
	    $('#parallax_octocat').plaxify({"xRange":10,"yRange":10})
	    $('#parallax_octocatshadow').plaxify({"xRange":10,"yRange":10})
	    $('#parallax_speeder').plaxify({"xRange":10,"yRange":10})
	    $('#parallax_speedershadow').plaxify({"xRange":10,"yRange":10})
	    $('#parallax_building_1').plaxify({"xRange":50,"yRange":20,"invert":true})
	    $('#parallax_building_2').plaxify({"xRange":75,"yRange":30,"invert":true})
	    $('#parallax_bg').plaxify({"xRange":0,"yRange":40,"invert":true})
	  })
	  $.plax.enable()
			</script>
			<script type="text/javascript"> 
	  if (typeof _gaq !== "undefined")
	    _gaq.push(['_trackPageview', '/404.html?page=' + document.location.pathname + document.location.search + '&from=' + document.referrer])
			</script>
		</div>
	</div>

</div>