<div class="container_12">
	<!-- <div class="grid_12" id="everything_png">
	<%= image_tag("everything.png") %>
	</div> -->

	<div class="prefix_4 grid_8" id="title">
		CIS 195 iPhone Dev
	</div>

	<asdf id="when_prereqs">
				<br /><strong>When: &nbsp</strong><br /> Mondays, 11am – 12pm<br />
				<br /><strong>Credits: &nbsp</strong>.5<br />
				<br /><strong>Prerequisites: &nbsp</strong><br /> CIS 120 && (CIS 240 || CIS 190)<br />
	</asdf>
	
	<div class="prefix_4 grid_8" id="description">
		<div  id="headers">
			<strong>Description</strong>
		</div>
		<br />
		This fast-paced project-oriented course is centered around application development 
		on the iOS platform. The first half of the course will involve the fundamentals 
		of iPhone development, where students learn Objective-C, as well as 
		efficient memory management and event-based programming on the iOS platform. 
		<br /><br />
		In the second half of the course, students work in teams to conceptualize and
		develop a significant iPhone application. To aid in this process, we will be 
		teaching you the basics of creating a backend enabling you to create server-client applications.
		<br /><br />
		Creativity and originality are highly encouraged!
		<br /><br /><br />


		<div id="headers">
			<strong>Entrepreneurship</strong>
		</div>
		<br />
		We are excited to say that this course has 
		a hint of entrepreneurship weaved into it as well!
		It is taught by iPhone Dev and Angel Investor, 
		<a href="http://jimy.org" class="link" target="_blank">Jim Young</a>.
		One of the main goals of the course is to get that final project into the AppStore!
		<br /><br />
		The students in the 
		<a class="link" target="_blank" href="http://www.stanford.edu/class/cs193p/cgi-bin/drupal/" title="CS 193P iPhone Application Development">Stanford iPhone class</a> have had their apps
		downloaded many times and an app made in an 
		<a class="link" target="_blank" href="https://www.facebook.com/cs3217">iPad class in Singapore</a>
		has made two-hundred-thousand dollars!
		<br /><br /><br />
		
		
		<div id="headers">
			<strong>Size limit</strong>
		</div>
		<br />
		Unfortunately, because a course of this kind 
		can only function well with so many people in it,
		we are forced to limit it to 30 people.
		<br /><br />
		As such we are taking applications for the class.
		<br /><br />
		Please note however, that if you don't get into the class,
		you can sit in on the lectures.
		<br /><br />
		What if I only have an iPhone?
		We will be providing students with iPod Touch’s.
		<br /><br />
		Do I need to run Mac OS X in order to take this course?
		Yes. Unfortunately, you can only develop for the iPhone on a Mac and we do not have nearly enough funds to purchase Mac computers for the course.
		<div id="bottom_padding">
	</div>

</div>